services:

  postgres:
    image: postgres:16
    container_name: familymealmate-postgres
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: familymealmate
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: familymealmate-redis
    restart: always
    ports:
      - "6379:6379"
    command: ["redis-server", "--appendonly", "yes"]
    volumes:
      - redis_data:/data

volumes:
  postgres_data:
  redis_data:
